.usable-vars ul {
    list-style-type: none;
    padding-left:0;
}

.usable-vars ul li a.var-placeholder span {
    min-width:120px;
    display: inline-block;
}

.no-recipient, .recipient-selector {
    display:none;
}

.panel-group .panel h4 a:hover {
    text-decoration: none;
}

.panel-group .panel h4 a.recipient-remove {
    color: #ff0039;
    float:right;
}
